<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css" />
  <title>Lego</title>
</head>
<body>
  <%- include('partials/navbar', {page: 'about'}) %>

    <div class="flex-1">
      <a href="/" class="btn btn-ghost normal-case text-xl">Lego Collection</a>
    </div>
    <div class="navbar-center flex">
      <ul class="menu menu-horizontal px-1">
        <li><a class="active" href="/about">About</a></li>
        <li>
          <details>
            <summary>Theme</summary>
            <ul class="p-2 w-32 bg-base-100 right-0">
              <li><a href="/lego/sets?theme=Technic">Technic</a></li>
              <li><a href="/lego/sets?theme=Basic Set">Basic Set</a></li>
              <li><a href="/lego/sets?theme=Icons">Icons</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </div>
  <div class="container mx-auto p-4 lg:px-0">
    <!-- Hero Section -->
    <div class="hero py-8 bg-base-200 rounded-lg">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">About</h1>
          <p class="py-6">Introduction</p>
        </div>
      </div>
    </div>
    <!-- Grid Section -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 mt-8">
      
      <div class="w-full">
        <p class="prose">
         Hello Sir,
         My name is Harnoor Panesar
          <br />
         I am studying in the Computer Programming in Seneca college
        
          <br />
        </p>
      </div>
    </div>
  </div>
</body>
</html>